<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <script src="/main/login.js" defer></script>
    <title>로그인</title>
</head>
<body>
    <div class="login-container">
        <h2>로그인</h2>
        <form>
            <input id="email" type="text" placeholder="이메일">
            <input id="password" type="text" placeholder="비밀번호">
            <div class="options">
                <label class="checkbox"><input id="checkbox" type="checkbox">이메일 저장</label>
                <a id="member" href="#">회원가입</a>
            </div>
            <div class="button-container">
                <button id="button" type="submit">로그인</button>
            </div>
        </form>
    </div>

    <div class="modal" id="modal">
        <div class="modal-container">
            <h2>회원가입</h2>
            <form>
                <input id="m_email" type="text" placeholder="이메일">
                <input id="m_name" type="text" placeholder="이름">
                <input id="m_password" type="text" placeholder="비밀번호">
                <input id="m_password_confirm" type="text" placeholder="비밀번호 확인">
                <div class="button-container">
                    <button id="m_submit" type="submit">회원가입</button>
                    <button id="m_button"type="button" onclick="closeModal()">닫기</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function openModal() {
            document.querySelector('#modal').style.display = "block";
        }
        function closeModal() {
            document.querySelector('#modal').style.display = "none";
        }   
    </script>
</body>
</html>